{% extends 'base.html.twig' %}
{% block body %}
<div>
    <div class="tabs-container">
        <ul class="tabs">
            <li class="active">
                <a href="">PHP</a>
            </li>
            <li>
                <a href="">JS</a>
            </li>
            <li>
                <a href="">Docker</a>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="tabs-panel active" data-index="0">
                {% for link in links %}

                {% endfor %}
            </div>
            <div class="tabs-panel" data-index="1">
                Вкладка 2
            </div>
            <div class="tabs-panel" data-index="2">
                Вкладка 3
            </div>
        </div>
    </div>
</div>
    {{ encore_entry_script_tags('tabs') }}
{% endblock %}
