body {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    height: 100%;
    background: url("../img/pink.png");
    background-position: center;
    background-repeat: no-repeat;
}
.news-header{
    margin-top: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.menu-main {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.menu-item {
    color: whitesmoke;
    padding: 15px;
    margin-top: 10px;
    margin-right: 2px;
    border-width: 5px;
    background: rgba(0, 0, 139, .8);
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    float: left;
    display: inline;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.page-item {
    padding: 5px;
    color: whitesmoke;
}

.page-item a {
    color: bisque;
}
.bold{
    font-weight: bold;
}

.main-block {
    background-color: rgba(221, 160, 221, .3);
    padding-top: 15px;
    padding-left: 25px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 53em;
    border-color: #000 #4B0082;
    border-width: 3px;
    border-style: solid none;
    transition: 0.3s;
}

.img-block{
    display: flex;
    justify-content: left;
}

.icon{
    padding: 0 10px;
    color: rgba(0, 0, 139, .8)
}

.article-img{
    width: 600px;
    height: 400px;
    object-fit: contain;
}

button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: .6em 3em;
    outline: none;
    border-width: 1px 0;
    border-style: solid none;
    border-color: black;
    border-radius: 6px;
    background: rgba(0, 0, 139, .3);
    transition: 0.2s;
    min-width: 200px;
}
.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: .6em 3em;
    outline: none;
    border-width: 1px 0;
    border-style: solid none;
    border-color: black;
    border-radius: 6px;
    background: rgba(0, 0, 139, .3);
    transition: 0.2s;
    min-width: 200px;
}

A {
    text-decoration: none;
}

.row {
    padding: 15px 0;
    margin: 0 -10px;
    display: flex;
    text-align: left;
}

.left, .right {
    display: inline-block;
    width: 100%;
    margin-right: -100%;
    vertical-align: bottom;
}

.right {
    text-align: right;
}
.left a, .right a {
    display: inline-block;
    position: relative;
}

.opacity {
    opacity: 0.5;
}

.form {
    margin-left: 20px;
}

.back {
    width: 90px;
    padding: 5px;
}

label {
    padding-right: 10px;
    font-weight: bold;
}

.di-block
{
    display: block;
}

.part
{
    flex-shrink: 0;
    padding: 0 10px;
}

.part-1
{
    width: 10%;
}

.part-2
{
    width: 20%;
}

.part-3
{
    width: 30%;
    flex-shrink: 0;
}

.part-4
{
    width: 40%;
}

.part-5
{
    width: 50%;
}

.part-6
{
    width: 60%;
}

.part-7
{
    width: 70%;
}

.part-8
{
    width: 80%;
}

.part-9
{
    width: 90%;
}

.part-10
{
    width: 100%;
}

header
{
    display: flex;
    justify-content: flex-end;
}



.left, .right {
    display: inline-block;
    width: 100%;
    margin-right: -100%;
    vertical-align: bottom;
}

.right {
    text-align: right;
}
.left a, .right a {
    display: inline-block;
    position: relative;
}
.flex-center
{
    display: flex;
    justify-content: center;
}
.center-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    font-size: 20px;
    position: absolute;
    background: rgba(255, 192, 203, .5);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    border-width: 1px 0 0 0;
    display: flex;
    font-weight: bold;
    color: lightgrey;
    align-items: center;
    justify-content: center;
}
.input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 30px;
    width: 220px;
    color: black;
    font-size: 11px;
    font-family: Arial;
}
TABLE {
    margin-top: 15px;
    border-color: #000 lightgrey;
    background: white;
    border-collapse: collapse;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
}

TD, TH {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    height: 50px;
    text-align: center;
}

TH {
    color: white;
    background: rgba(0, 0, 139, .8);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    border-bottom: 1px solid #000;
}
.hide{
    display: none;
}

.white
{
    color: whitesmoke;
}

.logout{
  text-align: right;
  width: 100%;
}

.started{
    color: deeppink;
    background: transparent;
    border: none;
    padding: 5px;
}

.stopped{
    color: rgba(0, 0, 139, .8);
    background: transparent;
    border: none;
    padding: 5px;
}

.table-align{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.not-found-block{
    height: 200px;
    text-align: center;
}

.wide {
    overflow: hidden;
}
.search-input {
    text-decoration: none;
    background: transparent;
    display: block;
    height: 32px;
    padding: 10px 30px;
    width: 80%;
    border: 1px #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    outline: none;
    color: black;
}

.tabs-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
}

.tabs {
    display: flex;
}

.tabs li:not(:last-child) {
    margin-right: 7px;
}

.tabs li a {
    display: block;
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: white;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}

.tabs li.active a,
.tabs li a:hover {
    opacity: 1;
    top: 0;
}

.tabs-content {
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 0 4px 4px 4px;
    background: white;
}

.tabs-panel {
    display: none;
}

.tabs-panel.active {
    display: block;
}
@media screen and (max-width: 600px) {
    .tabs {
        flex-direction: column;
    }

    .tabs li {
        width: 100%;
    }

    .tabs li:not(:last-child) {
        margin-right: 0;
    }

    .tabs li a {
        border-radius: 0;
        opacity: 1;
        top: 0;
    }

    .tabs li.active a::before {
        content: '•';
        padding-right: 5px;
    }

    .tabs-content {
        border-radius: 0;
    }
}

.btn-large{
    text-align: center;
    min-width: 100px;
    height: 20px;
    margin-left: 5px;
}
