<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}HMS{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
            <script src="https://kit.fontawesome.com/d71e62b110.js" crossorigin="anonymous"></script>
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
